
body {
    font-family: 'Nunito', sans-serif;
}
nav a {
    padding: 0.5em;
}

a:hover{
    text-decoration: underline;

}
li{
    list-style-type: none;
    border:1px solid;
    border-radius: 5px;
    background-color: rgb(134, 148, 229);
    padding: 10px;
    margin: 5px;
}

li:hover{
    background-color: rgb(161, 172, 235);
}